{% extends "base.html" %}
{% block content %}
<form class="form-group" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.email.label(class="form-control-label")}} <br>
        {{form.email(class="form-control-lg")}}<br>
    </div>
    <div class="form-group">
        {{form.username.label(class="form-control-label")}} <br>
        {{form.username(class="form-control-lg")}}<br>
    </div>
    <div class="form-group">
        {{form.password.label(class="form-control-label")}} <br>
        {{form.password(class="form-control-lg")}}<br>
    </div>
    
    <div class="form-group">
        {{form.pass_confirm.label(class="form-control-label")}} <br>
        {{form.pass_confirm(class="form-control-lg")}}<br>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </div>
  
</form>

{% endblock %}